body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, hsl(197, 100%, 14%), #0534d1);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin: 20px 0;
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    width: 100%;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
    color: #555;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #02104f;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #1d628d;
}

a {
    text-decoration: none;
    color: #2d4782;
    display: block;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td {
    background-color: #fff;
}

table tr:nth-child(even) td {
    background-color: #f9f9f9;
}

table tr:hover td {
    background-color: #f1f1f1;
}

.form-container {
    margin-bottom: 40px;
    text-align: left;
}
